<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.snsmeet"
      android:versionCode="0"
      android:versionName="alpha">
    <uses-sdk android:minSdkVersion="7"
            android:targetSdkVersion="10"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".main.SNSMeet"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.About"
                  android:label="@string/about"
                  android:theme="@android:style/Theme.Dialog">
                  <intent-filter>
                      <action android:name="org.snsmeet.About" />
                      <category android:name="android.intent.category.DEFAULT" />
                  </intent-filter>
        </activity>
        <activity android:name=".main.Account"
                  android:label="@string/account">
        </activity>
        <activity android:name=".main.Twitter_Add"
                  android:label="@string/account_add"
                  android:launchMode="singleInstance"
                  android:configChanges="keyboardHidden|orientation">
                  <intent-filter>
                      <action android:name="android.intent.action.MAIN" />
                      <category android:name="android.intent.category.DEFAULT" />
                  </intent-filter>
                  <intent-filter> 
                      <action android:name="android.intent.action.VIEW" />
                      <category android:name="android.intent.category.DEFAULT" />
                      <category android:name="android.intent.category.BROWSABLE" />
                      <data android:scheme="snsmeet" android:host="twitter" />                
                  </intent-filter>
        </activity>
        <activity android:name=".main.Setting"
                  android:label="@string/setting">
        </activity>
        <activity android:name=".main.List"
                  android:label="@string/list">
        </activity>
        <activity android:name=".main.NFC"
                  android:label="@string/nfc">
        </activity>
        <activity android:name=".main.QRcode"
                  android:label="@string/qrcode">
        </activity>
        <activity android:name=".main.License"
                  android:label="@string/license"
                  android:theme="@android:style/Theme.Dialog">
                  <intent-filter>
                      <action android:name="org.snsmeet.license" />
                      <category android:name="android.intent.category.DEFAULT"/>
                  </intent-filter>
        </activity>
        <activity android:name=".main.LegalNotice"
                  android:label="@string/legal_notice"
                  android:theme="@android:style/Theme.Dialog">
                  <intent-filter>
                      <action android:name="org.snsmeet.LegalNotice" />
                      <category android:name="android.intent.category.DEFAULT"/>
                  </intent-filter>
        </activity>
        <activity android:name=".client.android.CaptureActivity"
                  android:screenOrientation="landscape"
                  android:configChanges="orientation|keyboardHidden"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:windowSoftInputMode="stateAlwaysHidden">
                  <intent-filter>
                      <action android:name="org.snsmeet.client.android.SCAN"/>
                      <category android:name="android.intent.category.DEFAULT"/>
                  </intent-filter>
                  <!-- Allow web apps to launch Barcode Scanner by linking to http://zxing.appspot.com/scan. -->
                  <intent-filter>
                      <action android:name="android.intent.action.VIEW"/>
                      <category android:name="android.intent.category.DEFAULT"/>
                      <category android:name="android.intent.category.BROWSABLE"/>
                      <data android:scheme="http" android:host="zxing.appspot.com" android:path="/scan"/>
                  </intent-filter>
                  <!-- We also support a Google Product Search URL. -->
                  <intent-filter>
                      <action android:name="android.intent.action.VIEW"/>
                      <category android:name="android.intent.category.DEFAULT"/>
                      <category android:name="android.intent.category.BROWSABLE"/>
                      <data android:scheme="http" android:host="www.google.com" android:path="/m/products/scan"/>
                  </intent-filter>
                  <!-- And the UK version. -->
                  <intent-filter>
                      <action android:name="android.intent.action.VIEW"/>
                      <category android:name="android.intent.category.DEFAULT"/>
                      <category android:name="android.intent.category.BROWSABLE"/>
                      <data android:scheme="http" android:host="www.google.co.uk" android:path="/m/products/scan"/>
                  </intent-filter>
        </activity>
        <activity android:name=".client.android.PreferencesActivity"
                  android:label="@string/preferences_name">
        </activity>
        <activity android:name=".client.android.encode.EncodeActivity" android:label="@string/share_name">
                  <intent-filter>
                      <action android:name="org.snsmeet.client.android.ENCODE"/>
                      <category android:name="android.intent.category.DEFAULT"/>
                  </intent-filter>
                  <!-- This allows us to handle the Share button in Contacts. -->
                  <intent-filter>
                      <action android:name="android.intent.action.SEND"/>
                      <category android:name="android.intent.category.DEFAULT"/>
                      <data android:mimeType="text/x-vcard"/>
                  </intent-filter>
                  <!-- This allows us to handle sharing any plain text . -->
                  <intent-filter>
                      <action android:name="android.intent.action.SEND"/>
                      <category android:name="android.intent.category.DEFAULT"/>
                      <data android:mimeType="text/plain"/>
                  </intent-filter>
        </activity>
        <activity android:name=".client.android.book.SearchBookContentsActivity"
                  android:label="@string/sbc_name"
                  android:screenOrientation="landscape"
                  android:configChanges="orientation|keyboardHidden">
                  <intent-filter>
                      <action android:name="org.snsmeet.client.android.SEARCH_BOOK_CONTENTS"/>
                      <category android:name="android.intent.category.DEFAULT"/>
                  </intent-filter>
        </activity>
        <activity android:name=".client.android.wifi.WifiActivity"
                  android:label="@string/wa_name"
                  android:screenOrientation="landscape"
                  android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".client.android.share.ShareActivity"
                  android:label="@string/share_name"
                  android:screenOrientation="user"
                  android:theme="@android:style/Theme.Light">
                  <intent-filter>
                      <action android:name="org.snsmeet.client.android.SHARE"/>
                      <category android:name="android.intent.category.DEFAULT"/>
                  </intent-filter>
        </activity>
        <activity android:name=".client.android.share.BookmarkPickerActivity"
                  android:label="@string/bookmark_picker_name">
                  <intent-filter>
                      <action android:name="android.intent.action.PICK"/>
                      <category android:name="android.intent.category.DEFAULT"/>
                  </intent-filter>
        </activity>
        <activity android:name=".client.android.share.AppPickerActivity"
                  android:label="@string/app_picker_name"
                  android:configChanges="orientation">
                  <intent-filter>
                      <action android:name="android.intent.action.PICK"/>
                      <category android:name="android.intent.category.DEFAULT"/>
                  </intent-filter>
        </activity>
        <activity android:name=".client.android.HelpActivity"
                  android:screenOrientation="user">
                  <intent-filter>
                      <action android:name="android.intent.action.VIEW"/>
                      <category android:name="android.intent.category.DEFAULT"/>
                  </intent-filter>
        </activity>

    </application>
    
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>